/* CSS Document */
/*_____ font weight _______________*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html {
  font-size: 16px;
}

body,
td,
th,
input,
textarea {
  color: #24292e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: inherit;
  text-decoration: none;
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
  */
}

img {
  vertical-align: bottom;
}

.img_ck {
  font-size: 0.1rem;
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

ul,
ol,
li {
  list-style: none;
}

em,
address {
  font-style: normal;
}

.top-left {
  float: left;
  margin: 0px 30px 30px 0px;
}

.top-center {
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.bottom-right {
  float: right;
  margin: 30px 0px 0px 30px;
}

.bottom-left {
  float: left;
  margin: 30px 30px 0px 0px;
}

.bottom-center {
  margin: 30px 0px 0px 0px;
  text-align: center;
}

.entry-container b {
  font-weight: bold;
}

.entry-container i {
  font-style: italic;
}

.tab_main .list_tab .tab_item {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: none;
}
.tab_main .list_tab .tab_item.active {
  display: block;
  animation-name: vanishIn;
  -webkit-animation-name: vanishIn;
}

@-webkit-keyframes vanishIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes vanishIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.45);
    transform: scale(1.45);
  }
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.45);
    transform: scale(1.45);
  }
}
/*---------------------------------------------------------------------------*/
@media screen and (min-width: 769px), print {
  body,
  td,
  th,
  input,
  textarea {
    /* font-size: 1.4rem; */
  }

  * {
    box-sizing: border-box;
  }

  #container {
    width: 100%;
    min-width: 1200px;
    position: relative;
    z-index: 1;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  header,
  footer,
  #contents {
    /* For IE 6/7 only */
    *zoom: 1;
    clear: both;
    position: relative;
  }
  header:before,
  header:after,
  footer:before,
  footer:after,
  #contents:before,
  #contents:after {
    content: " ";
    display: table;
  }
  header:after,
  footer:after,
  #contents:after {
    clear: both;
  }

  .inner {
    width: 1200px;
    margin: auto;
    /* For IE 6/7 only */
    *zoom: 1;
  }
  .inner:before,
  .inner:after {
    content: " ";
    display: table;
  }
  .inner:after {
    clear: both;
  }

  .inner_sm {
    width: 1100px;
    margin: auto;
    /* For IE 6/7 only */
    *zoom: 1;
  }
  .inner_sm:before,
  .inner_sm:after {
    content: " ";
    display: table;
  }
  .inner_sm:after {
    clear: both;
  }

  a {
    -webkit-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
  }
  a:hover {
    opacity: 0.7;
  }

  img {
    max-width: 100%;
  }

  .break_pc {
    display: block;
  }

  .break_sp {
    display: none;
  }

  .sp {
    display: none !important;
  }

  .sp_link {
    pointer-events: none;
  }
  .sp_link:hover {
    cursor: default;
    opacity: 1;
  }

  header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    width: 100%;
    background: rgba(33, 50, 38, 0.95);
    /* For IE 6/7 only */
    *zoom: 1;
  }
  header:before,
  header:after {
    content: " ";
    display: table;
  }
  header:after {
    clear: both;
  }
  header .logo {
    float: left;
    font-size: 0;
    margin: 1px 0 0 5px;
  }
  header .logo img {
    height: 63px;
  }
  header .nav_global {
    float: right;
    margin: 0 0 0 35px;
  }
  header .nav_global ul {
    display: table;
    width: 100%;
    width: auto;
    position: relative;
  }
  header .nav_global ul > * {
    display: table-cell;
    vertical-align: middle;
  }
  header .nav_global ul li {
    position: relative;
    overflow: hidden;
  }
  header .nav_global ul li::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-right: solid 1px #ed7833;
    height: 12px;
    right: 0;
  }
  header .nav_global ul li:nth-of-type(1) {
    width: 91px;
  }
  header .nav_global ul li:nth-of-type(2) {
    width: 90px;
  }
  header .nav_global ul li:nth-of-type(3) {
    width: 105px;
  }
  header .nav_global ul li:nth-of-type(4) {
    width: 104px;
  }
  header .nav_global ul li:nth-of-type(5) {
    width: 116px;
  }
  header .nav_global ul li a {
    display: block;
    color: #ed7833;
    text-align: center;
    padding: 12px 15px;
    height: 65px;
  }
  header .nav_global ul li p {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    letter-spacing: 1.2px;
    margin: 8px 0 0 0;
    font-weight: 500;
    white-space: nowrap;
  }
  header .nav_global ul li span {
    display: block;
    font-size: 1.1rem;
    color: #848484;
    line-height: 1;
  }
  header .nav_global ul li:last-child::after {
    content: none;
  }
  header.top {
    opacity: 0;
    top: -70px;
  }
  header.top.active {
    -webkit-transition: opacity 0.75s ease, top 0.75s ease;
    transition: opacity 0.75s ease, top 0.75s ease;
    top: 0;
    opacity: 1;
  }

  .nav_global-content {
    display: table;
    width: 100%;
    width: auto;
    position: relative;
  }
  .nav_global-content > * {
    display: table-cell;
    vertical-align: middle;
  }
  .nav_global-content .line {
    position: absolute;
    width: 91px;
    bottom: 0;
    left: 0;
    height: 5px;
    background: #213226;
    -webkit-transition: all 0.35s cubic-bezier(0.42, 0, 1, 1);
    transition: all 0.35s cubic-bezier(0.42, 0, 1, 1);
  }

  footer {
    padding: 10px 0 15px;
    background: #213226;
    position: relative;
    text-align: center;
  }
  footer p {
    color: #b9b9b9;
    margin: 0 0 0;
  }
  footer .address {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  footer .copyright {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  footer .gotop {
    position: absolute;
    top: 0;
    right: 13px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    text-indent: -9999px;
    background: #ed7833;
  }
  footer .gotop::before {
    content: "";
    left: 13px;
    top: 15px;
    background-image: url("../images/gotop.png");
    overflow: hidden;
    text-indent: -9999px;
    background-position: -41px -48px;
    width: 21px;
    height: 12px;
    position: absolute;
  }

  .menu {
    display: none;
  }

  .tel {
    pointer-events: none;
  }

  .breadcrumbs {
    /* For IE 6/7 only */
    *zoom: 1;
    height: 43px;
    line-height: 43px;
    background: #ececec;
    overflow: hidden;
    margin: 65px 0 0;
  }
  .breadcrumbs:before,
  .breadcrumbs:after {
    content: " ";
    display: table;
  }
  .breadcrumbs:after {
    clear: both;
  }
  .breadcrumbs ul li {
    float: left;
    color: #000;
    position: relative;
    font-size: 1.3rem;
    padding-top: 1px;
    letter-spacing: 1.5px;
  }
  .breadcrumbs ul li a {
    color: #000;
    display: block;
    padding-right: 22px;
  }
  .breadcrumbs ul li a:hover {
    text-decoration: underline;
  }
  .breadcrumbs ul li:first-child a {
    padding-left: 26px;
  }
  .breadcrumbs ul li:first-child a::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 1px;
  }
  .breadcrumbs ul li::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 18px;
  }
  .breadcrumbs ul li:last-child::after {
    content: none;
  }

  .menu_subpage {
    width: 251px;
    position: relative;
    padding: 102px 0 0;
    right: -100px;
    margin: 0 0 0 949px;
  }
  .menu_subpage:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 99999px;
    border-left: 1px solid #e3e3e3;
  }
  .menu_subpage h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    padding-left: 13px;
    margin-bottom: 14px;
  }
  .menu_subpage h3 span {
    padding-left: 8px;
  }
  .menu_subpage ul {
    position: relative;
  }
  .menu_subpage ul li {
    position: relative;
    width: 9999px;
  }
  .menu_subpage ul li:hover a,
  .menu_subpage ul li.active a {
    opacity: 1;
  }
  .menu_subpage ul li:hover a:before,
  .menu_subpage ul li.active a:before {
    opacity: 0;
    -webkit-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
  }
  .menu_subpage ul li.active:hover a:before {
    opacity: 0;
  }
  .menu_subpage ul li.hovering a:before {
    opacity: 1;
  }
  .menu_subpage ul li a {
    font-size: 1.5rem;
    padding: 9.5px 0 9.5px 36px;
    position: relative;
    display: block;
    max-width: 250px;
  }
  .menu_subpage ul li a:before {
    content: "";
    height: 1px;
    width: 13px;
    background: #bfbfbf;
    left: 11px;
    top: 20px;
    opacity: 1;
    position: absolute;
    -webkit-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
  }

  #magic_line {
    position: absolute;
    margin-top: 19px;
    left: -8px;
    width: 18px;
    height: 2px !important;
    background: #000;
  }
  #magic_line:after {
    content: "";
    width: 9999px;
    height: 41px;
    background: #efefef;
    left: 8px;
    top: -18px;
    opacity: 1;
    position: absolute;
    z-index: -1;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }

  /*menu*/
  .des_content {
    /* For IE 6/7 only */
    *zoom: 1;
    overflow: hidden;
  }
  .des_content:before,
  .des_content:after {
    content: " ";
    display: table;
  }
  .des_content:after {
    clear: both;
  }
  .des_content .conf_left {
    float: left;
    width: 850px;
    padding: 91px 0 100px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1400px), print {
  .menu_subpage {
    right: 0;
  }
}
@media screen and (min-width: 769px) and (-ms-high-contrast: active),
  screen and (min-width: 769px) and (-ms-high-contrast: none) {
  .breadcrumbs ul li:first-child a::before {
    top: 14px;
  }
  .breadcrumbs ul li:after {
    top: 17px;
  }
}
@media screen and (min-width: 769px), print {
  .list_modal {
    display: table;
    margin: 50px auto 0;
  }
  .list_modal li {
    display: table-cell;
    width: 230px;
    text-align: center;
  }
  .list_modal li img {
    max-width: 100%;
    cursor: pointer;
  }
}
@media screen and (min-width: 769px), print {
  .modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .modal .modalContent {
    position: absolute;
    background: #fff;
    padding: 20px 15px;
    width: 504px;
  }
  .modal .modalContent .content {
    padding: 15px 0 5px;
  }
  .modal .modalContent .content dt {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 3px;
    color: #a30101;
  }
  .modal .modalContent img {
    width: 100%;
  }
  .modal .close {
    position: absolute;
    color: #fff;
    background: #a30101;
    border-radius: 50%;
    font-size: 1.5rem;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .modal .close::before,
  .modal .close::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    margin: 5px auto;
    left: -2px;
    right: 0;
    border-right: solid 1px #fff;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .modal .close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .modal .close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .modal .arrow .btn_arrow {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 70px;
    text-align: center;
    background: #a30101;
  }
  .modal .arrow .btn_arrow::after {
    position: absolute;
    font-size: 15px;
    color: #fff;
    top: 10px;
    left: 0;
    line-height: 1;
    display: inline-block;
    right: 0;
  }
  .modal .arrow .prev {
    left: -25px;
  }
  .modal .arrow .prev::after {
    content: "<";
  }
  .modal .arrow .next {
    right: -25px;
  }
  .modal .arrow .next::after {
    content: ">";
  }
  .modal .nav_modal {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .modal .nav_modal a {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin: 0 5px;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
  }
  .modal .nav_modal a.active,
  .modal .nav_modal a:hover {
    background: #a30101;
  }
  .modal.active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 769px), print {
  .overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  .overlay.active {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@media screen and (max-width: 768px) {
  body,
  td,
  th,
  input,
  textarea {
    font-size: 1.4rem;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.65;
  }

  header,
  footer,
  #contents {
    clear: both;
    width: 100%;
    min-width: 100%;
  }

  .inner {
    padding: 0 15px;
    position: relative;
    clear: both;
    /* For IE 6/7 only */
    *zoom: 1;
  }
  .inner:before,
  .inner:after {
    content: " ";
    display: table;
  }
  .inner:after {
    clear: both;
  }

  img {
    max-width: 100%;
  }

  .break_pc {
    display: none;
  }

  .break_sp {
    display: block;
  }

  .pc {
    display: none !important;
  }

  .menu {
    margin: 0;
    background: #ed7833;
    float: right;
    width: 46px;
    height: 60px;
    z-index: 9999;
  }
  .menu .menu_trigger {
    display: inline-block;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
    position: relative;
    width: 25px;
    height: 18px;
    left: 10px;
    top: 22px;
    text-decoration: none !important;
  }
  .menu .menu_trigger span {
    display: inline-block;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #ddd;
    right: 0;
    border-radius: 5px;
  }
  .menu .menu_trigger span:nth-of-type(1) {
    -webkit-animation: menu-bar01 0.65s forwards;
    animation: menu-bar01 0.65s forwards;
    top: 0;
  }
  .menu .menu_trigger span:nth-of-type(2) {
    -webkit-transition: all 0.25s 0.05s;
    transition: all 0.25s 0.05s;
    opacity: 1;
    top: 8px;
  }
  .menu .menu_trigger span:nth-of-type(3) {
    -webkit-animation: menu-bar02 0.65s forwards;
    animation: menu-bar02 0.65s forwards;
    bottom: 0;
  }
  .menu.active .menu_trigger span {
    background: #fff;
  }
  .menu.active .menu_trigger span:nth-of-type(1) {
    -webkit-animation: active-menu-bar01 0.65s forwards;
    animation: active-menu-bar01 0.65s forwards;
  }
  .menu.active .menu_trigger span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.active .menu_trigger span:nth-of-type(3) {
    -webkit-animation: active-menu-bar03 0.65s forwards;
    animation: active-menu-bar03 0.65s forwards;
  }
  @-webkit-keyframes menu-bar01 {
    0% {
      -webkit-transform: translateY(7px) rotate(45deg);
      transform: translateY(7px) rotate(45deg);
    }
    50% {
      -webkit-transform: translateY(7px) rotate(0);
      transform: translateY(7px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
    }
  }
  @keyframes menu-bar01 {
    0% {
      -webkit-transform: translateY(7px) rotate(45deg);
      transform: translateY(7px) rotate(45deg);
    }
    50% {
      -webkit-transform: translateY(7px) rotate(0);
      transform: translateY(7px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
    }
  }
  @-webkit-keyframes menu-bar02 {
    0% {
      -webkit-transform: translateY(-7px) rotate(-45deg);
      transform: translateY(-7px) rotate(-45deg);
    }
    50% {
      -webkit-transform: translateY(-7px) rotate(0);
      transform: translateY(-7px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
    }
  }
  @keyframes menu-bar02 {
    0% {
      -webkit-transform: translateY(-7px) rotate(-45deg);
      transform: translateY(-7px) rotate(-45deg);
    }
    50% {
      -webkit-transform: translateY(-7px) rotate(0);
      transform: translateY(-7px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
    }
  }
  @-webkit-keyframes active-menu-bar01 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(7px) rotate(0);
      transform: translateY(7px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(7px) rotate(45deg);
      transform: translateY(7px) rotate(45deg);
    }
  }
  @keyframes active-menu-bar01 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(7px) rotate(0);
      transform: translateY(7px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(7px) rotate(45deg);
      transform: translateY(7px) rotate(45deg);
    }
  }
  @-webkit-keyframes active-menu-bar03 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(-9px) rotate(0);
      transform: translateY(-9px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(-9px) rotate(-45deg);
      transform: translateY(-9px) rotate(-45deg);
    }
  }
  @keyframes active-menu-bar03 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(-9px) rotate(0);
      transform: translateY(-9px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(-9px) rotate(-45deg);
      transform: translateY(-9px) rotate(-45deg);
    }
  }
  .menu.black .menu_trigger span {
    background-color: #000;
  }

  header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    width: 100%;
    height: 60px;
    background: rgba(33, 50, 38, 0.95);
    /* For IE 6/7 only */
    *zoom: 1;
  }
  header:before,
  header:after {
    content: " ";
    display: table;
  }
  header:after {
    clear: both;
  }
  header .logo {
    float: left;
    font-size: 0;
    margin: 0;
  }
  header .logo img {
    width: auto;
    height: 60px;
  }
  header .nav_global {
    position: fixed;
    background: rgba(72, 69, 67, 0.95);
    width: 100%;
    height: 0;
    top: 60px;
    left: 0;
    z-index: 9999;
    -webkit-transition: height 0.25s ease;
    transition: height 0.25s ease;
    overflow-x: hidden;
    overflow-y: auto;
  }
  header .nav_global ul {
    padding: 35px 0 0;
  }
  header .nav_global ul li {
    position: relative;
    overflow: hidden;
    display: block;
  }
  header .nav_global ul li a {
    display: inline-block;
    color: #fff;
    border-bottom: solid 1px #fff;
    text-align: center;
    padding: 0;
    line-height: 1;
    margin: 0 0 25px 18px;
  }
  header .nav_global ul li p {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    letter-spacing: 4px;
  }
  header .nav_global ul li span {
    display: none;
  }
  header .nav_global.active {
    height: 100%;
    padding-bottom: 35px;
  }
  header.top {
    opacity: 0;
    top: -70px;
  }
  header.top.active {
    -webkit-transition: opacity 0.75s ease, top 0.75s ease;
    transition: opacity 0.75s ease, top 0.75s ease;
    top: 0;
    opacity: 1;
  }

  footer {
    padding: 30px 0;
    background: #000;
    position: relative;
    text-align: center;
  }
  footer p {
    color: #b9b9b9;
  }
  footer .address {
    font-size: 1.2rem;
    line-height: 20px;
    text-align: center;
  }
  footer .copyright {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  footer .gotop {
    position: absolute;
    top: 0;
    right: 13px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    text-indent: -9999px;
    background: #ed7833;
  }
  footer .gotop::before {
    content: "";
    left: 13px;
    top: 15px;
    background-image: url("../images/gotop.png");
    overflow: hidden;
    text-indent: -9999px;
    background-position: 0px 0px;
    width: 21px;
    height: 12px;
    position: absolute;
  }

  .contents {
    margin-top: 75px;
  }

  .list_modal {
    display: table;
    margin: 50px auto 0;
  }
  .list_modal li {
    display: table-cell;
    width: 230px;
    text-align: center;
  }
  .list_modal li img {
    max-width: 100%;
    cursor: pointer;
  }

  .modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .modal.active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .modalContent {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 99;
    padding: 20px;
    background: #fff;
  }
  .modalContent .figure {
    overflow: hidden;
  }
  .modalContent .content {
    padding: 15px 0 5px;
  }
  .modalContent .content dt {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 3px;
    color: #a30101;
  }
  .modalContent img {
    width: 100%;
  }
  .modalContent .modalContent {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    filter: alpha(opacity=0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .modalContent .close {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    background: #a30101;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .modalContent .close::before,
  .modalContent .close::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    margin: 5px auto;
    left: -2px;
    right: 0;
    border-right: solid 1px #fff;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .modalContent .close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .modalContent .close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .modalContent .arrow .btn_arrow {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 70px;
    text-align: center;
    background: #a30101;
  }
  .modalContent .arrow .btn_arrow::after {
    position: absolute;
    font-size: 15px;
    color: #fff;
    top: 10px;
    left: 0;
    line-height: 1;
    display: inline-block;
    right: 0;
  }
  .modalContent .arrow .prev {
    left: -25px;
  }
  .modalContent .arrow .prev::after {
    content: "<";
  }
  .modalContent .arrow .next {
    right: -25px;
  }
  .modalContent .arrow .next::after {
    content: ">";
  }
  .modalContent .nav_modal {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .modalContent .nav_modal a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin: 0 5px;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
  }
  .modalContent .nav_modal a.active,
  .modalContent .nav_modal a:hover {
    background: #a30101;
  }
  .modalContent.active .modalContent {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  .overlay.active {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
