/*_____ Mixin _______________*/
@mixin font_default {
  font-family: "Roboto", sans-serif;
}

@mixin text_center {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex_center {
  display: flex;
  place-items: center;
}

@mixin text_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin scroll_base {
  &::-webkit-scrollbar {
    width: rem(8);
    height: rem(8);
  }

  &::-webkit-scrollbar-track {
    border-radius: rem(8);
  }

  &::-webkit-scrollbar-thumb {
    height: rem(56);
    border-radius: rem(8);
    background-color: $col_neutral_08;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $col_neutral_07;
  }
}
