@import "~/assets/css/base";

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  * {
    box-sizing: border-box;
  }

  // style scroll body
  &::-webkit-scrollbar {
    width: rem(16);
    height: rem(16);
  }

  &::-webkit-scrollbar-track {
    border-radius: rem(8);
  }

  &::-webkit-scrollbar-thumb {
    height: rem(56);
    border-radius: rem(8);
    border: rem(4) solid transparent;
    background-clip: content-box;
    background-color: $col_neutral_08;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $col_neutral_07;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}
